* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.25;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto;
}

.container {
  margin: 0 20px;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 0 12px 0 0;
}

.logo__text {
  text-decoration: none;
  color: #243e63;
  font-weight: 900;
  font-size: 26px;
  margin: 0 24px 0 0;
  padding: 0 0 4px;
  display: flex;
}

b {
  display: flex;
  transition: all 300ms ease;
  color: #243e63;
  padding-top: 4px;
}

b:hover {
  color: #6415ff;
}

.nav__links {
  display: flex;
}

.nav__link {
  padding: 0 0 4px 0;
  margin: 0 24px;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
  text-decoration: underline;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  opacity: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  transition: all 300ms ease;
}

.nav__link--btn {
  border: 1px solid;
  background-color: rgb(100, 21, 255);
  border-radius: 400px;
  padding: 12px 32px;
  color: white;
  transition: all 300ms;
}

.nav__link--btn:hover {
  text-decoration: none;
  color: white;
  background-color: #4f12c9;
}

/* LANDING left side */

section .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0 96px 0;
}

.landing__container--left {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.header {
  color: #1a202c;
}

.purple {
  color: #6415ff;
}

.landing__container--para {
  margin: 32px 0px;
  color: #243e63;
  font-size: 18px;
}

.sign-in {
  position: relative;
  max-width: 448px;
  margin: 12px 0;
}

.email__box {
  width: 100%;
  border-color: rgba(214, 219, 226, 0.4);
  border-radius: 36px;
  border-style: solid;
  font-size: 16px;
  padding: 20px 192px 20px 32px;
  cursor: text;
  transition: all 300ms ease;
}

.email__box:hover {
  border-color: rgb(124, 139, 161, 0.5);
}

.landing-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 160px;
  margin: 8px 0px 8px 8px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6415ff;
  color: #f7fafc;
  border: none;
  border-radius: 36px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
}

.landing-btn:hover {
  background-color: #4f12c9;
}

.customer__logo--strip {
  margin: 80px 0 0;
}

.customer__logo--para {
  opacity: 0.5;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.6;
}

.img__customer {
  margin-top: 16px;
  padding-right: 128px;
  width: 100%;
  opacity: 0.5;
}

/* LANDING RIGHT */

.landing__container--right {
  width: 60%;
}

.img__container--right {
  width: 100%;
}

/* FEATURES */

#features .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.features__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.features__subtitle {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
}

.features__para {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  max-width: 576px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgb(124, 139, 161);
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 120px;
}

.service {
  display: flex;
  width: calc(100% / 3);
}

.img__service--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(181, 193, 211);
  border-radius: 50%;
}

.service__description--wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 16px;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.6;
  margin-left: 12px;
  color: #243e63;
}

.service__description {
  width: 100%;
  text-align: left;
  font-weight: 500;
  line-height: 32px;
  margin: 16px;
  color: rgb(124, 139, 161);
}

/* QUALITY */

#quality {
  padding: 96px 0;
}

.quality__description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__title {
  font-weight: 700;
  line-height: 1.6px;
  font-size: 16px;
}

.quality__subtitle {
  text-align: left;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  letter-spacing: 0.9px;
  line-height: 60px;
  color: #243e63;
}

.quality__description--para {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 28px;
  text-align: left;
  color: rgb(124, 139, 161);
}

.learn__more {
  width: 100%;
  max-width: 150px;
  font-size: 14px;
  font-weight: 700;
  margin: 32px 0 0;
  cursor: pointer;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  overflow-clip-margin: content-box;
  width: 100%;
  margin-left: 32px;
  border: 1px solid rgb(226, 232, 240);
}

/* STEPS */

#steps {
  padding: 96px 0;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.steps__img {
  max-width: 100%;
  height: auto;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  margin-left: 64px;
}

.steps__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6px;
}

.steps__subtitle {
  margin: 16px 0 0;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 1.2px;
  color: #243e63;
}

.steps__123 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.steps__number {
  display: flex;
  margin: 32px 0 0;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 24px;
  line-height: 24px;
  color: rgb(36, 62, 99);
}

.number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
}

.register,
.download,
.run {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.step__description--para {
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 12px;
  color: rgb(113, 128, 150);
}

/* VALUES */

.value__container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.value__img--wrapper {
  width: 50%;
}

.value__img {
  width: 100%;
}

.value__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6px;
}

.value__subtitle {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 1.2px;
  color: #243e63;
}

.value__description {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgb(113, 128, 150);
}

.value__columns {
  display: flex;
  flex-direction: row;
}

.value__column--left {
  margin-top: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}
.value__column--right {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.value__icon {
  display: flex;
  align-items: center;
  color: rgb(36, 62, 99);
}

.dollar__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 8px;
  background-color: rgb(154, 230, 180);
}

.suitcase__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  padding: 8px 8px 8px 8px;
  background-color: rgb(254, 178, 178);
}

.affordable,
.professionalism {
  font-weight: 20px;
  margin-left: 12px;
}

.value__column--para {
  line-height: 1.5;
  margin-top: 16px;
  color: rgb(113, 128, 150);
  letter-spacing: 1.2;
}

/* PRICE */

.price__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.price__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.price__subtitle {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
}

.price__description--para {
  width: 100%;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: rgb(124, 139, 161);
}

/* PRICE COLUMNS */

.plans {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.plan {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 8px;
  margin: 64px 32px 0px 32px;
  padding: 8px 32px 0;
}

.plan__header {
  text-align: center;
  padding: 32px 0;
}

.duration {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
}

.plan__features {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
}

.btn__wrapper--plans {
  width: 100%;
  padding: 32px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__business {
  background: #6415ff;
  background-image: linear-gradient(
    130deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.business__header {
  color: #f7fafc;
}

.plan__price--business {
  color: #f7fafc;
  margin: 4px 0;
}

.duration__business {
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
  letter-spacing: 2px;
}


.plan__features--business {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.business__subheader {
  color: #f7fafc;
}

.feature__business {
  margin-top: 20px;
  font-weight: 500;
  color: #f7fafc;
}

.plans__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #f7fafc;
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: bold;
}

.plans__btn--white {
  background: white;
  color: #6415ff;
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: bold;
}

.plans__btn--red {
  background: linear-gradient(
    115deg,
    rgb(238, 83, 83) 0%,
    rgb(254, 207, 207) 100%
  );
  color: #f7fafc;
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: bold;
}

/* TESTIMONIALS */

#testimonials .row {
  display: flex;
}

.testimonials__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__img {
  width: 100%;
}

.testimonials__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.testimonials__title {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.testimonials__subtitle {
  font-size: 48px;
  font-weight: 900;
  color: #243e63;
}

.testimonials__para {
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
  word-spacing: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.stars__wrapper {
  color: rgb(246, 173, 85);
}

.testimonials__subtitle2 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 16px;
  color: #243e63;
}

.testimonials__para2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  margin-top: 16px;
  margin-bottom: 40px;
}

.testimonials__profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonials__profile--description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile__img--wrapper {
  width: 80px;
  height: 80px;
}

.profile__img {
  width: 100%;
  border-radius: 9999px;
}

.profile__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.profile__description {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
}

/* FAQS */

#FAQ .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.faq__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.faq__subtitle {
  font-size: 48px;
  color: #243e63;
  letter-spacing: 1.5px;
}

.faq__para {
  font-size: 18px;
  font-weight: 500;
  word-spacing: 1px;
  color: #7c8ba1;
  margin-top: 16px;
  text-align: center;
}

.faq__questions {
  margin-top: 48px;
}

.faq__question {
  border: transparent;
  border-radius: 8px;
  background-color: #edf2f7;
  padding: 16px 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 20px;
  font-weight: 600;
  color: #2d3748;
}

.faq__icon {
  cursor: not-allowed;
}

/* start */

#started {
  padding: 96px 0;
}

.getstarted__wrapper {
  padding: 96px 0;
  background-color: #6415ff;
  border-radius: 8px;
}

.getstarted {
  display: flex;
  align-items: center;
  padding: 0 32px;
  text-align: center;
}

.getstarted__text--wrapper {
  width: 50%;
}

.getstarted__text {
  font-size: 30px;
  font-weight: 700;
  color: #f7fafc;
}

.getstarted__btn-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.getstarted__btn {
  background-color: #f56565;
  border: none;
  color: white;
  margin-right: 32px;
  margin-left: 32px;
  cursor: pointer;
  transition: all 300ms ease;
}

.getstarted__btn:hover {
  background-color: #da3131;
}

.getstarted__btn2 {
  border: solid #fff;
  color: white;
  background-color: transparent;
  border-width: 1px;
  cursor: pointer;
  transition: all 300ms ease;
}

.getstarted__btn2:hover {
  background-color: #fff;
  color: #6415ff;
}

.btn {
  padding: 20px 40px;
  font-weight: 700;
  border-radius: 9999px;
  font-size: 16px;
  height: 64px;
}

/* FOOTER */

footer {
  margin-top: 96px;
  padding: 80px;
  background-color: #6415ff;
}

.links {
  display: flex;
  flex-wrap: wrap;
  border-bottom: #f7fafc;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
}

.link__title {
  font-size: 16px;
  font-weight: 700;
  color: #f7fafc;
  margin-bottom: 20px;
}

.footer__link {
  font-size: 14px;
  font-weight: 500;
  color: #f7fafc;
  margin: 12px 0;
  text-align: left;
  transition: all 500ms ease;
}

.footer__link:hover {
  text-decoration: underline;
  color: white;
}

.footer__break {
  margin: 64px 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer__logos {
  display: flex;
  justify-content: space-between;
}

.footer__logo--container {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #f7fafc;
}

.footer__logo {
  width: 32px;
  margin-right: 12px;
}

.footer__copyright {
  font-size: 16px;
  color: #cbd5e0;
  font-weight: 400;
}

.social__link {
  margin-right: 12px;
  background-color: #f7fafc;
  border-radius: 24px;
  cursor: pointer;
}

.fa-facebook-f {
  padding: 8px 12px;
}

.fa-twitter {
  padding: 8px 8px;
}

.fa-youtube {
  padding: 8px 8px;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

.container {
  flex-direction: column;
}

  nav {
    height: 68px;
  }

  ul {
    display: none;
  }

  h1 {
    text-align: center;
    font-size: 30px;
  }

  h2 {
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing__container--left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
  }

  .landing__container--para {
    font-size: 20px;
    text-align: center;
  }

  .landing-btn {
    max-width: 240px;
  }

  .img__customer--wrapper{
    width: 100%;
  }

  .landing__container--right {
    width: 100%;
    max-width: 500px;
  }

  .features__subtitle {
    font-size: 36px;
  }

  .features__para {
    width: 100%;
    padding: 0%;
    text-align: center;
  }

  .services {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .service {
    width: calc(100% / 1);
  }

  .service__title{
    margin: 0;
  }
  
  .service__description--wrapper {
    text-align: left;
  }
  .service__description {
    margin: 12px 0 16px 0;
  }


  #quality .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .quality__img--wrapper {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quality__description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quality__title {
    display: flex;
    justify-content: center;
  }

  .quality__subtitle {
    font-size: 30px;
  }

  .quality__para {
    text-align: center;
  }

  .btn__wrapper {
    display: flex;
    justify-content: center;
  }

  .steps__img--wrapper {
    width: 100%;
    margin-bottom: 60px;
  }

  .steps {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .steps__subtitle {
    font-size: 30px;
  }

  .steps__123 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 0 auto;
  }
  .steps__number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center; 
    margin: 0;
  }

  .step__description {
    margin: 12px 0 0 0;
  }

  .step__description--para {
    margin: 12px 0 32px 0;
  }

  #values .row {
    flex-direction: column-reverse;
  }

  .value__img--wrapper {    
    margin-bottom: 72px;
  }

  .value__container {    
    justify-content: center;
    align-items: center;
  }

  .value__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .value__subtitle {
    font-size: 30px;
  }

  .value__description {
    text-align: center;
  }

  .value__columns {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .value__icon {
    display: flex;
    justify-content: center;
  }

  .learn__more {
    display: flex;
    justify-content: center;
  }

  .price__subtitle {
    font-size: 36px;
  }

  .price__description--para {
    width: 100%;
    padding: 0;
  }

  .plans {
    flex-direction: column;
  }

  

  .plan__business {
    padding: 0;
    margin: 40px 0 0 0;
  }

  .testimonials__img--wrapper {
    width: 100%;
    margin-bottom: 32px;
  }

  .testimonials__description {
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .faq__para {
    padding: 0;
  }

  .faq__list--wrapper {
    justify-content: space-between;
  }

  .getstarted {
    flex-direction: column;
    text-align: center;
  }

  .getstarted__text--wrapper {
    width: 100%;
  }

  .getstarted__btn--wrapper {
    flex-direction: column;
  }

  .getstarted__btn {
    margin: 0 0 16px 0;
  }

  footer {
    padding: 96px 0;
  }

  .link {
    width: calc(100% / 3);
    margin-bottom: 12px;
    align-items: center;
  }

  .footer__logos {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo--container {
    margin-bottom: 12px;
  }

  .footer__copyright {
    margin-bottom: 16px;
  }
}

/* SMALL PHONES */
@media (max-width: 550px) {
  .nav__link {
    display: none;
  }

  .faq__text {
    font-size: 14px;
  }
}
